:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: ;
  margin: 0;
}

/* Header CSS */

header {
  /* background-image: url(/images/gk-logo-header.png) !important; */
  margin-top: 50px;
  background-repeat: no-repeat;
  background-position: cover;
  /* fill full width of screen */
  background-size: 100%;
  max-width: max-width;
}

.header-flex {
  background-image: url(/images/gk-logo-header.png) !important;
  display: flex;
  flex-direction: row;
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100vh;
  margin-bottom: 80px;
  width: 100%;
}

.header-flex-services {
  background-image: url(/images/running3.jpg) !important;
  display: flex;
  flex-direction: row;
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 400px;
  width: 100%;

}


.header-video {
  height: 85%;
}

/* Navigation CSS */
#navBar {
  display: flex;
  flex-direction: row;
  background-color: black;

  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

#navBar h1 {
  display: flex;
  width: 25%;
  font-weight: 500;
  position: space-around;
  padding-left: 20px;
}

#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}

#navigation a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

#navigation a:hover {
  color: #01B702;
}

#navBar img {
  width: 5%;
  height: auto;
  padding-left: 50px;
  margin-top: 10px;
  padding-right: 480px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

.highlight {
  color: #ff6200;
  font-weight: 700;
}

.social-icons {
  margin: 7px;
}

.navi1 p {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  background-color: black;
}

.navi1 p:hover {
  border: 2px solid #01C6FF;
}

header video {
  width: 100%;
  height: 95%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 15px;
  height: 800px;
  /* border: 2px solid black; */

}

.container-bg-1 {
  background-image: url(./images/running2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-bg-2 {
  background-image: url(./images/running3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


header {
  background: url(../images/hero.jpg) no-repeat center center;
}

.about-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly align-items: center;
  padding: 20px;
  height: 800px;
  margin: 0px;
  width: 80%;
}

.nrpt-logo {
  padding-top: 200px;
  width: 100% !important;
}

.profile-pic {
  padding-top: 160px;
  padding-left: 150px;
}

.about-flex img {
  width: 75%;
  height: auto;
}

.column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  margin: 0px;
  width: 80%;
  height: 80%;
}

.heading-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 750px;
  width: 100%;
  height: 10%;
}

.text-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  height: 750px;
  margin: 20px;
  width: 100%;
  height: 80%;
}

.container-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;


}


.row-flex-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  height: auto;

  margin: px;
  width: 30%;
  height: 30px;
}

.row-flex-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 20px;

  margin: px;
  width: 75%;
  height: 800px;
}

.row-flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 20px;
  margin: 0px;
  width: 28%;
  height: 800px;
  justify-content: center;
}

footer {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.container-footer {
  display: flex;
  /* border: 2px solid black; */
  width: 97.7%;
}

/* make images in sub-section 100px height 746 */


footer a {
  text-decoration: none;
  color: rgb(215, 27, 27);
}

footer span {
  color: rgb(215, 27, 27);
}

/* contact form */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container-form {
  /* border: solid 3px #474544; */
  background-image: url(/images/running.jpg) !important;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #fff;
  max-width: 100%;
  /* margin: 60px auto; */
  height: 800px;
}

#container-form h1 {
  padding-top: 50px;
}

form {
  padding: 37.5px;
  margin: 50px 0;
  max-width: 1000px;
  margin: 0 auto;
}

h1,
h2 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
  float: right;
  width: 45%;
}

input[type='text'],
[type='email'],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #474544;
}

:-moz-placeholder {
  color: #474544;
  opacity: 1;
}

::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #474544;
}

#form_button {
  background: none;
  /* border: solid 2px #474544; */
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #Fff;
}


.container-services {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 200px;
  width: 98%;
}

.container-services h1 {
  color: black;
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 150px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

.container-main {
  background-image: url(/images/fitness.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 98%;
  margin-bottom: 50px;
  background-color: #fff;
}

.section-services {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 100%;
  width: 100%;
}

.sub-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 20px;
  height: 100%;
  width: 90%;
}

.sub-section img {
  height: 427px;
  width: 640px;
}

.sub-section h2 {
  color: #474544;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.sub-section button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: Georgia, '
 font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}


/* about me */


img {
  border-radius: 10px;
}

/* services pages */

.small-group-banner-image {
  background-image: url(/images/small-group-banner.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
}

.container-main-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 98%;
  margin-bottom: 50px;
}

.small-group-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.section-services-specific {
  background-image: url(./images/running3.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 100%;
  width: 100%;
  /* border: 2px solid #474544; */
  text-align: center;
}

.section-services-specific span {
  color: #474544;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.section-services-specific p {
  padding-bottom: 50px;
}

.textarea {
  width: 50%;
  /* border: 2px solid #474544; */
}

.image-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
}

.image-left img {
  height: auto;
  width: 80%;
}

.image-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
}

.image-right img {
  height: auto;
  width: 80%;
}


@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type='text'],
  [type='email'],
  select,
  textarea {
    font-size: 0.875em;
  }
}