

/* General Styling */
body {
  font-family: "Open Sans", sans-serif;
  background-image: url(./images/under-construction.jpg);
  background-position: center;
  background-size: auto 140%;
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}



html,
body {
  height: 100%;
  margin: 0;
}


/* Header */

.header-image {
  display: absolute;
  justify-content: flex;
  margin-left: 1500px;
  padding-top: 200px;
  margin-top: 250px;
  width: 25%;
}


/* Footer */


#headline {
  font-weight: bolder;
}


.container-left {
  display: absolute;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  width: 33%;
  text-align: center;
  padding-top: 10px;
  margin-top: -225px;
  justify-content: center;
}


footer {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

#construction-image {
  width: 25%;
  height: 100%;
}

.container-left h1 {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  margin-top: 0%;
  text-align: center;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;

}

li span {
  display: block;
  font-size: 4.5rem;
  color: #eb5424;

}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

h3 a {
  color: #eb5424;
}

h3 a:hover {
  color: yellowgreen;
}

h3 span {
  color: #eb5424;
}
